/* the styles for the footer */

footer {

	background-color: #931420 !important;

	padding-bottom: 1em;

	padding-top: 1em;

	clear: both;

}

	





footer p {

	text-align: center;

	color: #ffffff;

	

}



/* the styles for the elements */

body {

	font-family: Arial, Helvetica, sans-serif;

    font-size: 100%;

	width: 99%;

	margin-top: 0;

	margin-bottom: 0;

	margin-left: auto;

	margin-right:auto;

	border-style: solid;

	border-width: 3px;

	border-color: #931420;

	padding-left: 0;

	background-color: #fffded;
	border-left:3px;
	border-right:3px;
	max-width:960px;



}







article h1 {

	font-size: 150%;

	padding-top: .5em;

	padding-bottom: .25em;

	margin-top: 0;

	margin-bottom: 0;

}



article h2 {

	padding-top: 0;

}



article h3 {

	font-size: 105%;

	padding-bottom: .25em;

}







article img {

	float: right;

	margin-bottom: 20px;

	margin-top: 20px;

	margin-left: 20px;
	
	width:250px;
	
	max-width:30%;
	
	min-width:150px;

}



html {

	background-color: #ffffff;

}



* {

	

}



/* the styles for the nav elements */

.current {

	color: #ffff00;

}





#nav_menu {

	padding: 0;

	margin: 0;

	list-style-type: none;

	position: relative;

}



#nav_menu li {

	float: left;

}



#nav_menu li a {

	display: block;

	text-align: center;

	width: 160px;

	padding-top: 1em;

	padding-bottom: 1em;

	text-decoration: none;

	background-color: #800000;

	color: white;

	font-weight: bold;

	float: none;

}



#nav_menu .last_item:hover > ul {

	display: block;

	

}



#sub_menu li a {

	clear: both;

	width: 12.5%;

	float: left;

	

}



#sub_menu {

	display: none;

	position: absolute;

	text-decoration: none;

	clear: both;

	list-style-type: none;

}







#nav_menu > ul::after {

	content: '';

	display: block;

	clear: both;

}









/* the styles for the header */

header {

	border-bottom: 3px solid #931420;

	padding-top: 1.5em;

	padding-bottom: 2em;

	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);

	

}



header img {

	float: left;

	padding-left: 30px 3.125%;

	padding-right: 30px 3.125%;

}



header h2 {

	font-size: 170%;

	color: #800000;

	

	

	

}



header h3 {

	font-size: 130%;

	font-style: italic;

	

}



.shadow {

	text-shadow: 2px 2px 2px #800000;

	

}



.article {

	padding-top: .5em;

	padding-bottom: .5em;

	border-top: 2px;

	border-bottom: 2px;

	border-right: 0px;

	border-left: 0px;

	border-color: #800000;

	border-style: solid;

}



/* the styles for the section */

main {

	clear: left;

	

}



main aside {

	width: 22.396%;

	float: right;

	padding-left: 20px 2.0833%;

	padding-bottom: 20px 2.0833%;

}



main section {

	width: 59.375%;
	
	padding: 15px 1.5625%;

	float: right;

	padding-left: 20px 2.0833%;

	padding-right: 20px 2.0833%;

	padding-bottom: 20px 2.0833%;

	

}



aside h2 {

}



aside h3 {

	font-size: 105%;

	padding-bottom: .25em;

}



aside img {

	padding-bottom: 1em;



section h2 {

	

}

	



main h2 {

	font-size: 130%;

	color: #800000;

	padding-top: .5em;

	padding-bottom: .25em;

	

}







main img {

	padding-bottom: 1em;

}



main p {

	padding-bottom: .5em;

}



main blockquote {

	padding-left: 2em;

	padding-right: 2em;

}



main ul {

	padding-bottom: .25em;

	padding-left: 1.25em;

}



main li {

	padding-bottom: .35em;

}



a:hover {

	font-style: italic;

}



a:focus {

	font-style: italic;

}
/*media query for a table*/
@media screen and(max-width:959px)and (orientation:portrait) {
	
}
h1 media{
	font-size:135%;
}
h2 media{
	font-size:120%;
}
/* media query for a phone */
@media only screen 
and (max-device-width : 767px) 
and (orientation : landscape) { /* STYLES GO HERE */}
image header{
	
}

media aside{
	padding-right:100%;
	padding-left: 100%;
}
@media screen and (max-device-width: 479px) and (orientation: portrait) {
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
page{
	max-device-width:480px;
}